html{background-color: white;}
.primero{ 
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("ba1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:center top;
    background-attachment: scroll;
  padding-bottom: 15%;}
a{color: black;
  text-decoration: none;}
header #current{ /*float:left;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:150%;
    display: inline-block;
    margin-top:25px;
    color: lightgray;
    text-decoration: none;}
a:hover{color: lightgray;}
header{margin: 0 0 0 0;
	padding: 0 0 0 0;
    background: rgb(51, 50, 50);
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    right: 0;}
header #logo img{margin-top: 13px;
    float: left;
    height: 65px;}
nav{float: right;}
ul{list-style: none;}
nav ul li {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    display: inline-block;
    padding-right: 10px;
    padding-top: 30px;}
nav ul li a{text-decoration: none;
  color: lightgrey;}  
.encabezado{margin-left: 75px;
  margin-right: 75px;}
.texto{text-align: right;
  margin-top:15%;
  margin-right: 10%;
  margin-left:50%; 
  color:white;}
.conoce{
  margin-top: 10px;
  text-align: center;font-size: 70%;
color: black;}
.oradores{display: flex;
    /*align-items: center;*/
  justify-content: space-around;
margin: 15%;
margin-top: 0%;
margin-bottom: 0;}
.gallery {border-radius: 5px;
  border: 1px lightgray solid;
  margin: 10px; 
  width: 300px;}
div.gallery img {border-radius: 5px;
  width: 100%;
  height: auto;}
.desc {
      margin: 5px;
      font-size: 65%;
      text-align: left;}
.javascript{border:none;
  font-size: 75%; font-weight: bold;
  background-color: yellow; 
  margin-top: 25px;
  margin-right: 3px; 
  margin-bottom: 0px;
  border-radius: 5px;}   
.react{border: none;
  font-size: 75%; font-weight: bold;
  background-color: lightskyblue; 
  border-radius: 5px;} 
.negocios{border:none;
    font-size: 75%; font-weight: bold;
    background-color: gray; 
    margin-top: 25px;
    margin-right: 3px; 
    margin-bottom: 0px;
    border-radius: 5px;}   
.startups{border: none;
    font-size: 75%; font-weight: bold;
    background-color: red; 
    border-radius: 5px;}     
.honoba {margin-top:0; border-style: double;   display: flex;
         justify-content: space-evenly;
         width: 100%; }
.honolulu img {
      width: 620px; }
.textoba {margin-left: 1px; 
      padding: 5%;
      width: 100%;
      background-color: rgb(26, 24, 24);
      font-size: 70%;
      color:white;}
.conocemas{border-radius: 5px; background-color: rgb(26, 24, 24);
    border-color:white;font-size: 100%;
    color:white;}
.textopief{display: flex; align-items: center;justify-content: center;}
.textof{margin-left:5px;margin-right:5px;border-bottom:1px dotted black;
      text-decoration:none;}
.formulario{margin-right: 10px;margin-left: 10px;display: flex; align-items: center; justify-content: center;
}
.ultimo{display: flex;  justify-content: center;}
.enviar{display: flex; align-items: center; justify-content: center;}
textarea {
  
 width:100%;
  padding: 14px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 25px;
  resize: none;}
input[type=submit] {
  
  width: 70%;
  background-color: rgb(88, 141, 88);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
.final {display: flex; justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding:20px;
  overflow: hidden;
  background-color: #3a66df;
}


li a{
  
  color: white;
  
  padding: 14px 16px;
  text-decoration: none;
}
